body, html {
	height: 100%;
}

#con-1 {
	background-image: url(../images/shamba.jpg);
	background-size: cover;
	padding: 40px 40px 40px 40px;
}

#aside {
	margin-top: 100px;
	color: white;
	text-align: center;
}

.box {
	border: 2px solid white;
	padding: 20px;
	text-align: center;
}

.screen {
	position: relative;
	width: 325px;
	height: 600px;
	border-radius: 25px;
	background-color: green;
	float: right;
}

.screen-title {
	color: #002771;
	font-weight: 900;
	max-width: 80%
	margin: 40px;
	font-size: 35px;
	line-height: 49px;
	padding-left: 25px;
	padding-top: 25px;
}

#formSunscribe {
	width: 85%;
	margin: 60px auto 0 auto;
	padding: 25px;
	border-radius: 8px;
	background: #fff;
	box-sizing: border-box;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19),
				0 6px 6px rgba(0,0,0,0.23);
}

.screen-footer {
	color: #fff;
	position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 10px;
}

.screen-footer strong {
	font-weight: 800;
}
