#con-1 {
	background-image: url(../images/shamba.jpg);
	background-size: cover;
	padding: 40px 40px 40px 40px;
}
h1{

	color:red;
	text-align: center;
	font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
	padding: 0%;
	font-weight: bold;
}
label1{
	font-weight: bold;
	color: chocolate;
}
p{
	color:blue;
	font-weight: bold;
}
label{
	font-weight: bold;
}