    /* body
=============================*/
#landingPage{
	background-image: url(../img/shamba3.jpg);
	background-repeat: no-repeat;
	background: cover;
  color: black;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
}


.form-group {
  margin-right: 40px;
}

#history {
background-color: green;
padding-top: 50px;
padding-left: 50px;
padding-bottom: 50px;
}

#history h2 {
  text-align: center;
}

#summary {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

#selectShamba {
	padding-top: 70px;
  text-align: center;
}

#select #sex {
  text-align: center;
}

.table {
  color: white;
}

body {
    height: 100vh;
    color: white;
}
    /* form styeles
=============================*/
.form-control:focus {
    background-color: rgba(255,255,255,.4);
    color: rgb(133, 115, 115);
  }

.form-control {
    background-color:transparent;
    color: rgb(134, 127, 127);
    border: solid black;
  }
    /* Error Styles
=============================*/
  
  .error {
	color: #910b0b;
  }
  

  .history {
	  color: white; 
  }

  #no {
	  color: rgb(5, 4, 4);

  }
  #symptoms {
	  color: black;
  }

  #select, #sex, #history, button, #summary, .error {
	  display: none;
  }