    /* body
=============================*/
#landingPage{
	background-image: url(../img/shamba3.jpg);
	background-repeat: no-repeat;
	background: cover;
  color: black;
}

.form-group {
  margin-right: 40px;
}

#history {
background-color: green;
padding-top: 50px;
padding-left: 50px;
padding-bottom: 50px;
}

#history h2 {
  text-align: center;
}

#selectShamba {
	position:relative;

}

body {
    height: 100vh;
    color: white;
}
    /* form styeles
=============================*/
.form-control:focus {
    background-color: rgba(255,255,255,.4);
    color: rgb(133, 115, 115);
  }

.form-control {
    background-color:transparent;
    color: rgb(134, 127, 127);
  }
    /* Error Styles
=============================*/
  
  .error-border {
	border-color: rgb(85, 43, 43);
  }

  .history {
	  color: white; 
  }

  #no {
	  color: rgb(5, 4, 4);

  }
  #symptoms {
	  color: black;
  }

  }
  #selectShamba, #select, #sex, .footer, .history, #notes, #submitForm, {
	  display: none;
  }