.contact us{
    color: rgba(59, 33, 175, 0.301);
    background-color: saddlebrown;
    background-image: url("https://calvinayre.com/wp-content/uploads/2019/07/kenya-sports-betting-high-court.jpg");
    }
    nav{
        display: flex;
            width:40px;
            height:40px;
            border-radius: 50%;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: calibri;
            font-weight: bold;
        }
        nav{
        width:350px;
        height: auto;
        justify-content: space-between;
        align-items: center;
        background-color: #860f15;
        box-shadow: 20x 2px 12px rgba(0,0,0,0.2);
        padding:0px 5%;
    }
    nav ul{
        display: flex;
    }
    nav ul li a{
        margin:30px;
        font-family: sans-serif;
        color: blue;
        font-size:15px;
        font-weight: 700;
        background-color: skyblue;
        position: right;
    }
    .logo{
        font-family: RoadTest;
        color:#000000;
        font-size: 22 px;
    }
    .active{
        font-weight:bold;
        color:#2d2a2a;
    }
    .text-container p:nth-child(1){
        font-family: Calibri;
        font-weight: bold;
        letter-spacing: 1px;
        color: aqua;
        font-size:60px;
    }
    .text-container p:nth-child(3){
        font-family: myriad pro regular;
        color:#403e3e;
        font-size:30px;
        line-height:30px;
    }
    .text-container p{
        line-height:0px;
        margin:45px 0px 25px;
    }
    .text-container{
        position: absolute;
        left:13%;
        top:42%;
        transform:translate(-13%, -42%);
    }
    .text-container button{
        width:130px;
        height:42;
        border-radius: 10px;
        font-family: calibri;
        font-weight: bold; 
        font-size:14px;
        outline:none;
        margin:0px 10px;
    }
    .hire-btn{
        border:2px solid #373636;
        color: #373636;
    }
    .down-cv{
        background-color: #0b0b0b;
        color: #FFFFFF;
        border: none;
    }
    button:active{
        transform:scale(1.1);
    }
    .model{
        height:560px;
        position: absolute;
        bottom:0px;
        left: 70%;
        transform: translateX(-70%);
    }
    .about-container{
        width:80%;
        height:330px;
        background-color: royalblue;
        border-radius: 20px;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
        display: flex;
        margin:-7% auto 20px auto;
        position:relative;
        justify-content: space-evenly;
        align-items: center;
    }